



.vb-container {
  width: calc(100% - 100);
  height: 100%;
  position: absolute;
  background: #fff;
  overflow-x: auto;
  z-index: 2;
  transform: none;
  transition: .3s cubic-bezier(.3, 0, 0, 1.5);
}