.#{$variable-prefix}app .#{$variable-prefix}sidebar {
  width: 100%;
  height: 100%;
  background-color: #c62128;
  background-image: linear-gradient(147deg, #FF6633 0%, #FF0E83 100%);
  background-image: linear-gradient(147deg, #2B24E7 0%, #691D91 100%);
  top: 0;
  position: absolute;
  z-index: 1;
}

div[dir*="rtl"] .#{$variable-prefix}sidebar {
  right: 0;
}

@include media-breakpoint-up(md) {
  .#{$variable-prefix}app .#{$variable-prefix}sidebar {
    width: 100px;
  }
}