.#{$variable-prefix}app .#{$variable-prefix}sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #c62128;
  background-image: linear-gradient(147deg, #ff6633 0%, #ff0e83 100%);
  //background-image: linear-gradient(147deg, #2b24e7 0%, #691d91 100%);
  //background-image: linear-gradient(180deg, #FF4746 0%, #A3003F 100%);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;

  .vb-nav {
    margin: auto;
    width: 100%;
    margin-right: 20px;
    color: white;
  }
}

@include dark(vb-sidebar) {
  background: #000000;
  color: #c00000;

  &.scale {
    padding: 2px;
  }
}

@include media-breakpoint-up(lg) {
  .#{$variable-prefix}app .#{$variable-prefix}sidebar {
    width: 100px;
  }

  @include rtl() {
    .#{$variable-prefix}sidebar {
      right: 0;
    }
  }
}